body { font-family: 'Lato'; font-size: 100%; color: black; background-color: wheat; max-width: 1440px; margin: auto;}


code { font-family: monospace; }
.small-text {
    font-size: 80%;
    font-weight: 900;
}
h1, h2, h3 {
    margin-top: 1em;
}
h1:first-child, h2:first-child, h3:first-child, .title { margin-top: 0; }
h1 + *, h2 + *, h3 + * { margin-top: 1em; }

strong { font-weight: 700; }
em { font-style: italic; }

li { padding-bottom: 10px; }
a:hover, a:focus {text-decoration: underline;}

.grid { --auto-grid-gap: 1rem;
    display: flex;
    gap: var(--auto-grid-gap);
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
}

hr { border: none; height: 1px; color: black; background-color: black;}

.wrapper {display: flex;align-items: stretch;}

.showcase {
    padding: 1em;
    background-color: aliceblue;
    border-radius: 8px;
    display: block;
    color: inherit;
    text-decoration: none;
    max-width: 18rem;
    min-width: 18rem;
}
.showcase p {font-size: small;}
.showcase:hover {background-color: rgb(12, 12, 12);color: aliceblue;transition-duration: 0.3s;text-decoration: none;}
p.skills {color: grey;}
a.showcase-link { display: flex; color: inherit; text-decoration: none; }

div:last-of-type() { padding-bottom: 20px; }  

header, footer {margin: 1em;}

footer { text-align: center; font-size: smaller; }

.container { margin: 1em; padding: 20px 0; }
