<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css"/>
    <link rel="stylesheet" href="/fonts.css"/>
    <title>{{ title }} | Luke Strange</title>
</head>

<header>
    {{ include '/partials/header.vto' }}
</header>
{{ if type == 'blog' }}
    {{ include '/templates/blog.vto' |> md }}
{{# <p><a href="/">Luke Strange</a></p> Make a header with home link that appears on every page #}}
{{ else }}
    {{ include '/templates/page.vto' }}
{{ /if }}
<footer>
 {{ include '/partials/footer.vto'}}
</footer>
</html>