---
title: Hello
---
<p>I made this.</p>
<p>Data Scientist and Web Developer at <a href="https://open-innovations.org">Open Innovations</a>. Read some of my <a href="https://open-innovations.org/blog/">blogs</a>.</p>
<p>Physics MSci graduate.</p>
<p>Based in Leeds, UK.</p>
<p>My <a href="https://github.com/luke-strange">GitHub</a>.</p>
<p>This is a work in progress.</p>